.project-container {
	height: 350px;
	position: relative;
	margin: auto;
	width: 100%;
	border: 2px solid white;
}

.button-link {
	display: block;
	position: relative;
	width: 7rem;
	z-index: 50;
	height: auto;
	padding: 0.75rem;
	font-size: 1.1rem;
	background: transparent;
	margin: 1rem;
	color: white;
	text-decoration: none;
	border-radius: 32px;
	text-align: center;
	overflow: hidden;
	border: 2px solid white;
}

.button-link::before {
	content: "";
	width: 35%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(100, 228, 26);
	z-index: -100;
	transform: skew(-25deg);
	transition: all 0.7s ease-in-out;
	animation: hoverBtnAnimation 0.9s linear infinite;
}

.button-link:hover::before {
	animation: none;
	transform: skew(0);
	width: 110%;
}

@keyframes hoverBtnAnimation {
	from {
		left: -100px;
	}
	to {
		left: 100%;
	}
}

.project-container:hover .project-description {
	opacity: 1;
}

.image-wrapper {
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
}

.project-description {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.774);
	z-index: 400;
	transition: all 0.5s ease-in-out;
}
