.project-container {
	height: 300px;
	position: relative;
	margin: 1rem auto;
	width: 500px;
	border: 2px solid black;
}

.project-container:hover .project-description {
	opacity: 1;
}

.image-wrapper {
	width: 100%;
	height: 300px;
	aspect-ratio: 16 / 9;
}

.project-description {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.534);
	z-index: 400;
	transition: all 0.5s ease-in-out;
}
