.footer {
	width: 100%;
	padding: 3rem;
	/* padding-top: 0; */
	background: black;
}

.footer > h1 {
	color: white;
	margin-top: 0;
	margin-bottom: 3rem;
}

.social-links {
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.fab {
	color: white;
	transform: scale(2);
}

.social-links > a {
	text-decoration: none;
}
